body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 500;
  color: #544837;
}

.marathon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: white;
  opacity: 40%;
  margin-bottom: 1rem;
  border-bottom: 1px solid #C5AC2D;
}

.marathon__link {
  font-size: 1rem;
  color: #FF9900;
}

.container {
  max-width: 112.6rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7.8rem;
}

.menu {
  margin-left: auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list-item + .menu__list-item {
  margin-left: 2.4rem;
}

.menu__list-link {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 400;
  color: #2F281E;
}

.user-nav {
  margin-left: 5.2rem;
  margin-right: 1.3rem;
}

.user-nav__link {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  color: #173A56;
  border: .1rem solid #BCD0E5;
  border-radius: .4rem;
  padding: 1.1rem 2.3rem;
}

.user-nav__link + .user-nav__link {
  background: #FF9900;
  border-color: transparent;
  color: white;
  margin-left: 1.4rem;
}

.top__inner {
  padding: 13.3rem 0 8rem;
  background: url("../img/top-bg.svg") no-repeat;
  background-position: bottom right;
}

.top__title {
  font-size: 4.4rem;
  line-height: 5.4rem;
  font-weight: 700;
  color: #2F281E;
  margin-bottom: 3rem;
  max-width: 51.8rem;
}

.top__text {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 400;
  color: #544837;
  max-width: 45.8rem;
  margin-bottom: 4.5rem;
}

.top__btn {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: #FFFFFF;
  background: #FF9900;
  border-radius: .4rem;
  padding: 1.5rem 4rem;
  margin-right: 3rem;
  cursor: pointer;
}

.top__link {
  display: inline-block;
  position: relative;
  padding-left: 2.8rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  color: #FF9900;
  text-decoration: underline;
}

.top__link::before {
  background-image: url("../img/play.svg");
  content: "";
  display: block;
  position: absolute;
  top: 0.2rem;
  left: 0;
  width: 1.7rem;
  height: 1.9rem;
}

.tools {
  padding-top: 11rem;
}

.tools__inner {
  padding-bottom: 9rem;
  background: url("../img/tools-bg.svg") no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.tools__title {
  font-size: 3.6rem;
  line-height: 5.4rem;
  font-weight: 700;
  color: #2F281E;
  text-align: center;
  max-width: 53.5rem;
  margin: 0 auto 4.6rem;
  padding: 0 1rem;
}

.tools__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8rem 1.6rem 0;
  margin-bottom: 3.4rem;
}

.tools__item {
  width: 24rem;
}

.tools__item-img {
  margin-bottom: 3rem;
}

.tools__item-title {
  font-size: 2.2rem;
  line-height: 3.3rem;
  font-weight: 600;
  color: #2F281E;
  margin-bottom: 1.3rem;
}

.tools__item-text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 500;
  color: #544837;
}

.tools__link {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: #FFFFFF;
  display: block;
  background: #FF9900;
  padding: 1.5rem 3.3rem 1.4rem;
  width: 17.5rem;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
}

.direction {
  padding: 12rem 0 10rem;
}

.direction__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10rem;
}

.direction__item:last-child {
  margin-bottom: 0;
}

.direction__item-content {
  max-width: 48.6rem;
}

.direction__item-pretitle {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  color: #544837;
  margin-bottom: 0.3rem;
}

.direction__item-title-text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 500;
  color: #544837;
  margin-bottom: 3rem;
}

.direction__item-title {
  font-size: 3.6rem;
  line-height: 5.4rem;
  font-weight: 700;
  color: #2F281E;
  margin-bottom: 2.2rem;
}

.direction__item-text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 500;
  color: #544837;
  margin-bottom: 2.5rem;
}

.direction__item-subtitle {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 700;
  color: #2F281E;
  margin-bottom: 1.2rem;
}

.direction__list-item {
  position: relative;
  margin-bottom: 3rem;
  padding-left: 6.5rem;
}

.direction__list-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0.9rem;
  left: 0;
  width: 3.5rem;
  height: 3.5rem;
  background-image: url("../img/check.svg");
}

.direction__list-item:last-child {
  margin-bottom: 0;
}

.team {
  background: url("../img/team-bg.svg") no-repeat;
  background-position: top center;
  background-size: cover;
}

.team__inner {
  padding: 23rem 0 38rem;
  position: relative;
}

.team__item {
  position: absolute;
  width: 9.8rem;
  height: 9.8rem;
}

.team__item-img {
  width: 9.8rem;
  height: 9.8rem;
}

.team__item-text {
  position: absolute;
  background: #FFFFFF;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  color: #2F281E;
  padding: 1.4rem 1.9rem 2.1rem 2.3rem;
  border-radius: 2.6rem;
  -webkit-box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
          box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  top: -4.7rem;
  right: 6rem;
  white-space: nowrap;
}

.team__item-text.team__item-text--left {
  top: -5rem;
  right: auto;
  left: 5rem;
}

.team__item-text--right::after, .team__item-text--right::before, .team__item-text--left::after, .team__item-text--left::before {
  content: "";
  background: #FFFFFF;
  position: absolute;
  border-radius: 50%;
}

.team__item-text--right::after {
  width: .9rem;
  height: .9rem;
  right: 2.5rem;
  bottom: -3rem;
}

.team__item-text--right::before {
  width: 1.7rem;
  height: 1.7rem;
  right: 4rem;
  bottom: -1rem;
}

.team__item-text--left::after {
  width: .9rem;
  height: .9rem;
  left: 3rem;
  right: auto;
  bottom: -1.3rem;
}

.team__item-text--left::before {
  width: 1.7rem;
  height: 1.7rem;
  left: 5rem;
  right: auto;
  bottom: -1rem;
}

.team__item--1 {
  top: 15.7rem;
  right: 9.5rem;
}

.team__item--2 {
  top: 22.3rem;
  left: 1rem;
}

.team__item--3 {
  bottom: 23.3rem;
  left: 21rem;
}

.team__item--4 {
  right: 32rem;
  bottom: 13.5rem;
}

.team__item--5 {
  right: 0;
  bottom: 25.7rem;
}

.team__box {
  max-width: 54.2rem;
  margin: 0 auto;
  text-align: center;
}

.team__title {
  font-size: 3.6rem;
  line-height: 5.4rem;
  font-weight: 700;
  color: #2F281E;
  margin-bottom: 2.2rem;
}

.team__text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 500;
  color: #567592;
  margin-bottom: 4.5rem;
}

.team__btn {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: #FFFFFF;
  background: #FF9900;
  border-radius: .4rem;
  padding: 1.5rem 3rem;
  cursor: pointer;
}

.blog {
  padding: 3rem 0 12rem;
}

.blog__title {
  font-size: 3.4rem;
  line-height: 5.1rem;
  font-weight: 700;
  color: #2F281E;
  margin-bottom: 0.9rem;
}

.blog__text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 500;
  color: #544837;
  margin-bottom: 5.5rem;
}

.slider {
  margin: 0 -2rem;
}

.slider__item {
  margin: 0 2rem;
  max-width: 34.8rem;
}

.slider__item-img {
  width: 34.8rem;
  height: 18.5rem;
  margin-bottom: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .8rem .8rem 0 0;
}

.slider__item-info {
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 500;
  color: #544837;
  margin-bottom: 1.2rem;
}

.slider__item-author {
  color: #544837;
  font-weight: 700;
}

.slider__item-title {
  display: inline-block;
  font-size: 2.4rem;
  line-height: 3.4rem;
  font-weight: 700;
  color: #2F281E;
  max-width: 29.4rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-bottom: 8.4rem;
}

.slider__item-title:hover {
  color: #FF9900;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.slick-dots button {
  background: #EFEFEF;
  width: 1.6rem;
  height: 1.6rem;
  font-size: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  margin: 0 .5rem;
}

.slick-dots .slick-active button {
  background: #FF9900;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10.5rem 0 10rem;
  border-top: 1px solid rgba(188, 208, 229, 0.496913);
}

.footer__menu {
  width: 13.5rem;
}

.footer__menu-title {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 500;
  color: #2F281E;
  margin-bottom: 3.5rem;
}

.footer__menu-link {
  font-size: 1.6rem;
  line-height: 3.5rem;
  font-weight: 500;
  color: #544837;
}

.footer__form {
  width: 33rem;
}

.footer__form-text {
  display: inline-block;
  max-width: 28rem;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 500;
  color: #2F281E;
  margin-bottom: 3.5rem;
}

.footer__form-input {
  width: 100%;
  padding: 0 1.5rem;
  height: 4.8rem;
  border: .1rem solid #BCD0E5;
  border-radius: .4rem;
  margin-bottom: 2.1rem;
}

.footer__form-input::-webkit-input-placeholder {
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 500;
  color: #BCD0E5;
}

.footer__form-input:-ms-input-placeholder {
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 500;
  color: #BCD0E5;
}

.footer__form-input::-ms-input-placeholder {
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 500;
  color: #BCD0E5;
}

.footer__form-input::placeholder {
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 500;
  color: #BCD0E5;
}

.footer__form-btn {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: #FFFFFF;
  background: #FF9900;
  border-radius: .4rem;
  padding: .8rem 1.5rem;
  cursor: pointer;
}
